In [1]:
  #String Based Assignment Problem
''' Q.1 Write a program to reverse a string.'''
a = "rishabh"
a[::-1]# reversing the string using reverse slicing by taking -1 for counting the string

'hbahsir'

In [2]:
''' Q.2 . Check if a string is a palindrome.'''
a = input('enter your string: ')
if a ==a[::-1]:# checking the string if it equal to its reverse string so that we check if it palindrome or not
    print("yes")
else:
    print("no")

enter your string:  radar

yes

In [3]:
''' Q.3 Convert a string to uppercase.'''
s = input('enter your string: ')
s.upper() # converting string to upercase using upper function

enter your string:  rishabh

'RISHABH'

In [4]:
''' Q.4 Convert a string to lowercase.'''
s = input('enter your string: ')
s.lower() # converting string to lowercase using lower function

enter your string:  RISHABH

'rishabh'

In [5]:
''' Q.5 Count the number of vowels in a string'''
s = input('enter your string: ')
vowels = "aeiouAEIOU" # specifying the vowels

count = sum(s.count(vowel) for vowel in vowels) #counting the vowels
print("Number of vowels in your Sentence is: ",count)

enter your string:  rishabh

Number of vowels in your Sentence is:  2

In [6]:
''' Q.6 Count the number of consonants in a string.'''
consonants=0

# Enter an input string 
user_input = input("Enter a string: ")
 
# convert string in case insensitive
string = user_input.lower()
 
for c in range(0,len(string)):  
    if string[c] not in ("aeiou"):  
        consonants = consonants + 1;  
 
print("The number of consonant:",consonants)

Enter a string:  rishabh

The number of consonant: 5

In [7]:
''' Q.7 Remove all whitespaces from a string'''
s =input("enter your string: ")

l = len(s)  # finding length of the string

c = s.count(' ')  # counting the number of whitespaces

s = s.replace(' ', '')  # replacing the whitespaces

s = s[:l - c]  # removing all the whitespaces

print("Your string without spaces is", s)

enter your string:  rishabh jaiswal is the best

Your string without spaces is rishabhjaiswalisthebest

In [8]:
''' Q.8 Find the length of a string without using the `len()` function.'''
string = input("enter your string: ")

count = 0

for g in string: # taking each character of string using for loop
    count += 1 # everytimes it takes charater it adds 1 to count
print(count) # print count

enter your string:  rishabh

7

In [9]:
''' Q.9 Check if a string contains a specific word.'''
a = ("pwskills is the best")
print(a.__contains__('the')) # checking if the string contains the word 'the'

True

In [10]:
#Q.10 Replace a word in a string with another word.
a = "rishabh is a good boy"
print(a.replace("good","bad")) # replacing a word 'good' with 'bad'

rishabh is a bad boy

In [12]:
# Q.11 Count the occurrences of a word in a string
s = input("enter your string: ") # taking input for string
w = input("enter your word to count in the string: ") # taking input for the word to count in string
wc = s.count(w) # count the word word in string using count function
print("number of occurance of your word is: ",wc) # print the count

enter your string:  rishabh is the best
enter your word to count in the string:  the

number of occurance of your word is:  1

In [4]:
# Q.12 Find the first occurrence of a word in a string
s = input("enter your string: ") # getting input for string
w = input("enter your word to Find the first occurrence: ") # input for word to dind
wc = s.index(w) # finding the index of first occurence of word  using index fun
print("first occurrence of a word in your string: ",wc)

enter your string:  rishabh is the best
enter your word to Find the first occurrence: the
first occurrence of a word in your string:  12

In [5]:
# Q.13  Find the last occurrence of a word in a string
s = input("enter your string: ")
w = input("enter your word to Find the last occurrence: ") # getting input of the word to find
wc = s.rfind(w) # finding the last occurence of word using rfind fun 
print("last occurrence of a word in your string is :",wc)

enter your string: rishabh is the best pwskills is the best
enter your word to Find the last occurrence: the
last occurrence of a word in your string is : 32

In [6]:
# Q.14 Split a string into a list of words.
s = input("enter your string: ")
s.split()# splittiong the word using split fun

enter your string: rishabh is the best

['rishabh', 'is', 'the', 'best']

In [24]:
# Q.15 Join a list of words into a string.
list_1 = ['Hello', 'world', '!', 'This', 'is', 'Python'] 

separator = ' ' 

result = separator.join(list_1) # join the list of words using join fun by defining separtor

print(result)

Hello world ! This is Python

In [18]:
 ''' Q.16 Convert a string where words are separated by spaces to one where words
are separated by underscores.'''
s ="rishabh is a good boy"
print(s.replace(" ","  "))# replacing a single space with double
s ="rishabh is a good boy"
print(s.replace(" ","_"))# replacing a single space with underscore

rishabh  is  a  good  boy
rishabh_is_a_good_boy

In [19]:
# Q.17 Check if a string starts with a specific word or phrase
s ="rishabh is a good boy"
s.startswith("boy") # checking if string starts with boy

False

In [20]:
# Q.18 . Check if a string ends with a specific word or phrase
s ="rishabh is a good boy"
s.endswith("boy")# checking if string ends with boy

True

In [21]:
# Q.19 Convert a string to title case
s = "hello world"
s.title() # converting using title fun

'Hello World'

In [22]:
# Q.20 . Find the longest word in a string.
s = input("enter your string: ")
word_list =s.split() # splliting the words
longest_word =max(word_list,key=len) # finding the longest string using max fun
print("longest word in your string is: ",longest_word)

enter your string: pwskills is best for data science
longest word in your string is:  pwskills

In [25]:
# Q.21 . Find the shortest word in a string
s = input("enter your string: ")
word_list =s.split()
shortest_word =min(word_list,key=len) # finding the longest string using min fun
print("longest word in your string is: ",shortest_word)

enter your string: rishabh is the best
longest word in your string is:  is

In [26]:
#Q 22. Reverse the order of words in a string
s = input("enter your string: ")
a = s.split()
print(a[::-1]) #reversing the order using -1 sequence

enter your string: rishabh is the best
['best', 'the', 'is', 'rishabh']

In [ ]:
# Q.23 Check if a string is alphanumeric.
s = input("enter your string: ")
print(s.isalnum())

In [27]:
# 24. Extract all digits from a string.
s = input("enter you string")
for i in s:
    if i.isnumeric() :
        print(i)

enter you stringrishabh 1509
1
5
0
9

In [29]:
#25. Extract all alphabets from a string.
s = input("enter you string")
for i in s:
    if i.isalpha():
        print(i)

enter you stringrishabh is the best 15
r
i
s
h
a
b
h
i
s
t
h
e
b
e
s
t

In [34]:
# 26. Count the number of uppercase letters in a string.
s = input("enter you string")
count = 0
for i in s:
    if i.isupper():
        print(i)
        count += 1
print('count :',count)

enter you stringRISHabh
R
I
S
H
count : 4

In [36]:
#27. Count the number of lowercase letters in a string.
s = input("enter you string")
count = 0
for i in s:
    if i.islower():
        print(i)
        count += 1
print('count :',count)

enter you stringRishABH
i
s
h
count : 3

In [37]:
# 28. Swap the case of each character in a string.
s = input("enter you string")
for i in s:
    if i.isupper():
        print(i.lower())
    elif i.lower():
        print(i.upper())

enter you stringrishaBH
R
I
S
H
A
b
h

In [39]:
#29. Remove a specific word from a string.
s = "pwskils is the best"
a = s.replace("the","")
print(a)

pwskils is  best

In [41]:
# 30. Check if a string is a valid email address
import re # importing re

regex = re.compile(r'([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+') #specifying the email address
email = input("enter yor email: ") # geting input of email address

def isValid(email):# making a function isvalid 
    if re.fullmatch(regex, email): # if input email matches the specified parameters of emails then its a valid email
      print("Valid email")# printing valid email if email is valid
    else:
      print("Invalid email") # if email is not valid

isValid(email)

enter yor emailjaiswalrishabh1509@gmail.com
Valid email

In [42]:
# 31. Extract the username from an email address string.
a = input("enter email")
b = a.split('@')# spliting the user name from @
print(b[0]) # printing the username

enter emailjaiswalrishabh1509@gmail.com
jaiswalrishabh1509

In [44]:
# 32. Extract the domain name from an email address string.
a = input("enter email")
b = a.split('@')# spliting the user name from @
print(b[1]) # printing the domain name

enter emailjaiswalrishabh1509@gmail.com
gmail.com

In [50]:
#33. Replace multiple spaces in a string with a single space.
a = "rishabh    is    a    goood    boy"
print(a.replace("    "," "))

rishabh is a goood boy

In [56]:
# 34. Check if a string is a valid URL.
!pip install validators # install validators
import validators
a = 'https://www.youtube.com/'
if validators.url(a): # checking the url is correct or not
    print("valid URl")
else:
    print("invalid url")

In [58]:
#35. Extract the protocol (http or https) from a URL string.
a = "http://example.com"
b = a.split(':')
print(b[0])

http

In [59]:
#36. Find the frequency of each character in a string.
a = input("enter a sring") # getting input for the string
b = {} # making a blank dict
for i in a: # running  a for loop in string
    if i in b:
        b[i] +=1 # storing the character and their frquency

    else:
        b[i] = 1
print("frequency of each character is :\n",b)

enter a sringrishabh jaiswal
frequency of each character is :
 {'r': 1, 'i': 2, 's': 2, 'h': 2, 'a': 3, 'b': 1, ' ': 1, 'j': 1, 'w': 1, 'l': 1}

In [62]:
#37. Remove all punctuation from a string.
a = "rishabh,is?a/good\ boy"
b = ("!,/,?,\,@,#,*") # specifying the puctuation
for i  in a: # running a for loop
    if i not in b: 
        print(i)

r
i
s
h
a
b
h
i
s
a
g
o
o
d

b
o
y

In [64]:
#38. Check if a string contains only digits
a = input("enter your string")
if a.isnumeric():
    print("true")
else:
    print("false")

enter your string86453rishabh
false

In [66]:
#39. Check if a string contains only alphabets.
a = input("enter your string")
if a.isalpha():
    print("true")
else:
    print("false")

enter your string86453rishabh
false

In [68]:
#40. Convert a string to a list of characters.
a = input("enter your string")
lst = []

for letter in a:
    lst.append(letter)

print(lst)

enter your stringrishabh jaiswal
['r', 'i', 's', 'h', 'a', 'b', 'h', ' ', 'j', 'a', 'i', 's', 'w', 'a', 'l']

In [69]:
# 41. Check if two strings are anagrams.
a = 'rishabh'
b = 'hbahsir'
c = list(a)#converitng it to a list
d = list(b)
if c.sort()==d.sort(): # checking if the string are anagram using sort fun 
    print("anagram")
else:
    print("not anagram")

anagram

In [73]:
#42. Encode a string using a Caesar cipher.
shift = 3 # defining the shift count
text = "HELLO WORLD"
encryption = ""
for c in text:
    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the shift
        new_index = (c_index + shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to encrypted string
        encryption = encryption + new_character

    else:

        # since character is not uppercase, leave it as it is
        encryption += c
        
print("Plain text:",text)

print("Encrypted text:",encryption)

Plain text: HELLO WORLD
Encrypted text: KHOOR ZRUOG

In [74]:
#43. Decode a Caesar cipher encoded string.
shift = 3 # defining the shift count
encrypted_text = "KHOOR ZRUOG"
plain_text = ""
for c in encrypted_text:

    # check if character is an uppercase letter
    if c.isupper():

        # find the position in 0-25
        c_unicode = ord(c)

        c_index = ord(c) - ord("A")

        # perform the negative shift
        new_index = (c_index - shift) % 26

        # convert to new character
        new_unicode = new_index + ord("A")

        new_character = chr(new_unicode)

        # append to plain string
        plain_text = plain_text + new_character

    else:

        # since character is not uppercase, leave it as it is
        plain_text += c

print("Encrypted text:",encrypted_text)

print("Decrypted text:",plain_text)

Encrypted text: KHOOR ZRUOG
Decrypted text: HELLO WORLD

In [75]:
#44. Find the most frequent word in a string.
text = "on the rocks on the high on"
a = text.split() # get word list
afreq = [] #to store word count
for i in a: #for each word
    count = a.count(i) # find word count
    afreq.append(count) #store count

# find index of maximum frequencu
aindex = afreq.index(max(afreq))
# get most frequent word
mfword = a[aindex]
print(mfword)

on

In [76]:
# 45. Find all the unique words in a string
text  = "on the rocks on the high on"
a = text.split()
for i in a:
    count = a.count(i) # counting the words in string
    if count== 1: # if the word count is 1 it is unique
        print(i)

rocks
high

In [78]:
#46. Count the number of syllables in a string
word = input("Enter the word:")
word.lower()
syllable_count = 0
for w in word:
    if (              # specifying the sylables
        w == "a"
        or w == "e"
        or w == "i"
        or w == "o"
        or w == "u"
    ):
        syllable_count = syllable_count + 1
print("The number of syllables in the word is: ")
print(syllable_count)

Enter the word:rishabh
The number of syllables in the word is:
2

In [79]:
# 47. Check if a string contains any special characters.

special_characters = "!@#$%^&*()-+?_=,<>/" #specifying the speacil characters
s="on the rocks on the high on"

if any(c in special_characters for c in s): # if the input string contains any special charaters
    print("yes")
else:
    print("no")

no

In [80]:
#48. Remove the nth word from a string.
a = 'pwskills is the best pwskills is the best pwskills'
b = a.split()
del(b[8])
print(b)

['pwskills', 'is', 'the', 'best', 'pwskills', 'is', 'the', 'best']

In [81]:
#49. Insert a word at the nth position in a string.
a = 'pwskills is the best pwskills is the best pwskills'
b = a.split()
b.insert(8,'hello')
print(b)

['pwskills', 'is', 'the', 'best', 'pwskills', 'is', 'the', 'best', 'hello', 'pwskills']

In [85]:
#50. Convert a CSV string to a list of lists.
import csv

with open('sample.csv', 'r') as read_obj:
#     Return a reader object which will
#     iterate over lines in the given csvfile
    csv_reader = csv.reader(read_obj)
#
#     convert string to list
    list_of_csv = list(csv_reader)
#
    print(list_of_csv)

In [86]:
# List Based Practice Problem :


# 1. Create a list with integers from 1 to 10.
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
# 2. Find the length of a list without using the `len()` function.
a = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in a:
    count += 1
print(count)

10

In [88]:
# 3. Append an element to the end of a list.
a = [1,2,3,4,5,6,7,8,9,10]
a.append(11)#adding a element using append fun
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# 4. Insert an element at a specific index in a list
a = [1,2,3,4,5,6,7,8,9,10]
a.insert(11,12) # inserting a element at a specific index 
print(a)

In [89]:
# 5. Remove an element from a list by its value.
a = [1,2,3,4,5,6,7,8,9,10]
a.remove(8)
print(a)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [90]:
# 6. Remove an element from a list by its index.
a = [1,2,3,4,5,6,7,8,9,10]
a.pop(4)
print(a)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [91]:
# 7. Check if an element exists in a list.
a = [1,2,3,4,5,6,7,8,9,10]
print(5 in a)
print(a.__contains__(6))

True
True

In [92]:
# 8. Find the index of the first occurrence of an element in a list.
a = [1,2,3,4,5,6,7,8,9,10]
print(a.index(5))

4

In [93]:
# 9. Count the occurrences of an element in a list.
a = [1,2,3,4,5,6,7,8,9,10]
print(a.count(5))

1

In [94]:
# 10. Reverse the order of elements in a list.
a = [1,2,3,4,5,6,7,8,9,10]
a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [95]:
# 11. Sort a list in ascending order.
a = [65,5,65,5,2,65]
a.sort()
print(a)

[2, 5, 5, 65, 65, 65]

In [96]:
# 12. Sort a list in descending order.
a = [1,2,3,4,5,6,7,8,9,10]
a.sort(reverse=-1)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [97]:
# 13. Create a list of even numbers from 1 to 20.
a = []
for i in range(1,21):
    if i%2==0:
        a.append(i)

print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [98]:
# 14. Create a list of odd numbers from 1 to 20.
a = []
for i in range(1,21):
    if i%2 != 0:
        a.append(i)

print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [99]:
# # 15. Find the sum of all elements in a list.
a = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in a: # running a for loop 
    total = total + i # adding each item to total
print(total)

55

In [100]:
# 16. Find the maximum value in a list.
a = [1,2,3,4,5,6,7,8,9,10]
print(max(a))

10

In [101]:
# 17. Find the minimum value in a list.
a = [1,2,3,4,5,6,7,8,9,10]
print(min(a))

1

In [102]:
# 18. Create a list of squares of numbers from 1 to 10.
square = []
for i in range(1,11):
    a = i*i
    square.append(a)
    a += 1

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [104]:
# 19. Create a list of random numbers.
random = []
for i in range(1,40):
    if i%3 == 0:
        random.append(i)

print(random)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [105]:
# 20. Remove duplicates from a list.
a = [1,1,2,2,3,3,4,4,5,5,6,6,6,7,7,8,8,9,9]
b = set(a) # converting the set to a list
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 21. Find the common elements between two lists.
a = [1,2,3,4,5,6]
b = [5,6,7,8,9,1]
comon = [i for i in a if i in b] # finding the i which is available in bot a and b
print(comon)

In [106]:
# 22. Find the difference between two lists.
a = [1,2,3,4,5,6]
b = [5,6,7,8,9,1]
difference = [i for i in a if i not in b] + [i for i in b if i not in a]
print(difference)

[2, 3, 4, 7, 8, 9]

In [107]:
# 23. Merge two lists.
a = [1,2,3,4,5,6]
b = [5,6,7,8,9,1]
print(a+b)

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 1]

In [108]:
# 24. Multiply all elements in a list by 2.
a = [1,2,3,4,5,6]
for i in a :
    i*2
    print(i)

1
2
3
4
5
6

In [109]:
# 25. Filter out all even numbers from a list.
a = [1,2,3,4,5,6]
for i in a:
    if i%2==0:
        print(i)

2
4
6

In [110]:
# 26. Convert a list of strings to a list of integers.
test_list = ['1', '4', '3', '6', '7']

# using map() to
# perform conversion
test_list = list(map(int, test_list)) # converting the list using map function

# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : [1, 4, 3, 6, 7]

In [111]:
# 27. Convert a list of integers to a list of strings.

test_list = [1,2,3,4,5,6,78]

# using map() to
# perform conversion
test_list = list(map(str, test_list))

# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : ['1', '2', '3', '4', '5', '6', '78']

In [112]:
# 28. Flatten a nested list.
my_list = [[1], [2, 3], [4, 5, 6, 7]]
flat = []
for i in my_list: # runnin a for loop two times so that it can make one list
    for num in i:
        flat.append(num)

print(flat)

[1, 2, 3, 4, 5, 6, 7]

In [113]:
# 29. Create a list of the first 10 Fibonacci numbers.
f = 0
sum = 1
fib = [] # creating a empty list
for x in range(1,11): # running a for loop 
        next = f + sum
        fib.append(next) # adding the number to the list
        f = sum # appointing f as num
        sum = next # appointing Sum as next so that it can add another number
fib

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [115]:
# 30. Check if a list is sorted.
a = [1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = a[:]
b.sort()
if a == b:
        print('sorted')
else:
    print('not sorted')

sorted

In [116]:
# 31. Rotate a list to the left by `n` positions.
a = [15,6,7,99,65]
a = a[3:] + a[:3]
print(a)

[99, 65, 15, 6, 7]

In [118]:
#32. Rotate a list to the right by `n` positions.
c = [15,6,7,99,65]
c = c[-3:] + c[:-3]
print(c)

[7, 99, 65, 15, 6]

In [119]:
# 33. Create a list of prime numbers up to 50.
prime_list = [] # creating a empty list
for i in range(1, 51): # running a forloop
    for j in range(2, 51):
        if i % j == 0: # checking that the number is not prime
            break
    if  i == j: # remaining numbers are prime
        prime_list.append(i) #adding prime numbers to the list

print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [120]:
# 34. Split a list into chunks of size `n`.
my_list = [1, 2, 3, 4, 5,
        6, 7, 8, 9]
start = 0
end = len(my_list)
step = 3
for i in range(start, end, step):
	x = i
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [121]:
# 35. Find the second largest number in a list.
a = [1,2,3,4,5,6,7,8,9]
a.sort() # sorting the list
print(a[-2]) # printing the second last number after sorting

8

In [122]:
# 36. Replace every element in a list with its square.
a = [1,2,3,4,5,6,7,8,9]
square = []
for i in a:
    i = i*i
    square.append(i)

print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [125]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.
employee_names = ['Ramesh', 'Mahesh', 'Kamlesh', 'Suresh']

names_dict = {}
for i, name in enumerate(employee_names):
    names_dict[i] = name

print(names_dict)

{0: 'Ramesh', 1: 'Mahesh', 2: 'Kamlesh', 3: 'Suresh'}

In [126]:
# 38. Shuffle the elements of a list randomly.
a = [1,2,4,5,63,7,98,9,5]
b = a[5:] + a[:5]
print(b)

[7, 98, 9, 5, 1, 2, 4, 5, 63]

In [127]:
# 39. Create a list of the first 10 factorial numbers.
fact1 = [] # creating a empty list
fact = 1
for i in range(1, 11): # running a for loop
    fact = fact * i # multiplying i by fact
    fact1.append(fact) # appending the number to the list 

print(fact1)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [128]:
# 40. Check if two lists have at least one element in common.
a = [1,2,3,4]
b= [4,5,6,7]
for i in a:
    if i in b:
        print(True)
        break

    elif i not in a:
        print(False)

True

In [129]:
# 41. Remove all elements from a list.
a = [1,2,3,4]
a.clear()
print(a)

[]

In [130]:
# 42. Replace negative numbers in a list with 0.
a = [ -1,-2,-3,56,8,9]
a = [0 if i < 0 else i for i in a]
print(a)

[0, 0, 0, 56, 8, 9]

In [131]:
# 43. Convert a string into a list of words.
a = " pwskills is the best"
b = a.split()
print(list(b))

['pwskills', 'is', 'the', 'best']

In [132]:
# 44. Convert a list of words into a string.
a = ['pwskills', 'is', 'the', 'best']
b= ""
for i in a:
    b += i
print(b)

pwskillsisthebest

In [133]:
# 45. Create a list of the first `n` powers of 2.
a = []
n = int(input("enter number"))
for i in range(n):
    i = i*i
    a.append(i)

print(a)

enter number5
[0, 1, 4, 9, 16]

In [137]:
#46. Find the longest string in a list of strings.

a = ['rishabh jaiswal','pwskills data sceince pro','hello world']
max_len = 1 # specifying the max len
for ele in a: # running a for loop
    if len(ele) > max_len: # finding the biggest element that has more len the max len
        max_len = len(ele) # specifying the len of that element as max len
        res = ele # giving res as nam of max len element

print(res)

pwskills data sceince pro

In [138]:
# 47. Find the shortest string in a list of strings.
a = ['rishabh jaiswal','pwskills data sceince pro','hello world']
min_len = 1
for ele in a:
    if len(ele) < min_len:
        min_len = len(ele)
        b = ele

print(ele)

hello world

In [ ]:
# 48. Create a list of the first `n` triangular numbers.
k = 1
j = 1
a = []
n = int(input("enter the number"))
for i in range(1, n + 1):
    a.append(k)
    j = j + 1  # Increasing j by 1

    # Add value of j into k and update k
    k = k + j
print(a)

In [1]:
# 49. Check if a list contains another list as a subsequence.
a = [1,2,3,4,5,6,7,8,9]
b = [15,12]
flag = 0
if (all(x in a for x in b)):
    flag = 1

# printing result
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

No, list is not subset of other.

In [2]:
# 50. Swap two elements in a list by their indices.

a = [1,2,3,4,5,6,7,8,9]
a[1],a[5] = a[5],a[1]
print(a)

[1, 6, 3, 4, 5, 2, 7, 8, 9]

In [3]:
#         Tuple based questions

# 1. Create a tuple with integers from 1 to 5.
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [4]:
# 2. Access the third element of a tuple.
a = (1,2,3,4,5)
print(a[2])

3

In [5]:
# 3. Find the length of a tuple without using the `len()` function.
a = (1,2,3,4,5)
count = 0
for i in a:
    count +=1

print(count)

5

In [7]:
# 4. Count the occurrences of an element in a tuple.
a = (1,2,3,4,5,4,6,7,8,9,2,3,1)
print(a.count(5)) # counting the occurence of an element using count function

1

In [8]:
# 5. Find the index of the first occurrence of an element in a tuple.
a = (1,2,3,4,5,4,6,7,8,9,2,3,1)
print(a.index(5))

4

In [9]:
# 6. Check if an element exists in a tuple.
a = (1,2,3,4,5,4,6,7,8,9,2,3,1)
print(a.__contains__(10))

False

In [10]:
# 7. Convert a tuple to a list.
a = (1,2,3,4,5,4,6,7,8,9,2,3,1)
print(list(a))

[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 2, 3, 1]

In [11]:
# 8. Convert a list to a tuple.
# a = [1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 2, 3, 1]
b = tuple(a)
print(b)

(1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 2, 3, 1)

In [13]:
# 9. Unpack the elements of a tuple into variables.
a = ('mit mandsaur','rishabh jaiswal','engineering')
(college,name,branch) = a
print(college)
print(name)
print(branch)

mit mandsaur
rishabh jaiswal
engineering

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10.
# a = []
# for i in range(1,11):
#     if i%2==0:
#         a.append(i)
#
# b = tuple(a)
# print(b)

In [14]:
# 11. Create a tuple of odd numbers from 1 to 10.
a = []
for i in range(1,11):
    if i%2!=0:
        a.append(i)

b = tuple(a)
print(b)

(1, 3, 5, 7, 9)

In [15]:
# 12. Concatenate two tuples.
a = ('rishabh jaiswal')
b = ('pwskills')
print(a+b)

rishabh jaiswalpwskills

In [16]:
# 13. Repeat a tuple three times.
a = 'rishabh '
print(a*3)

rishabh rishabh rishabh

In [17]:
# 14. Check if a tuple is empty.
a = ()
if len(a) == 0:
    print("empty")

empty

In [18]:
# 15. Create a nested tuple.
# initialize tuples
# a = (3, 4),
b = (5, 6),
c = a+b
# print(str(c))

((3, 4), (5, 6))

In [19]:
# 16. Access the first element of a nested tuple.
a = (3, 4),
b = (5, 6),
c = a+b
print(str(c))
print(c[0])

((3, 4), (5, 6))
(3, 4)

In [20]:
# 17. Create a tuple with a single element.
a = (1)
print(a)

1

In [21]:
# 18. Compare two tuples.
a = (1,2,3,4)
b = (5,7,8,9)
if len(a) == len(b):
    print('equal')
else:
    print("not equal")

equal

In [22]:
# 19. Delete a tuple.
a = (1,2,3,4)
del a

In [23]:
# 20. Slice a tuple.
a = (1,2,3,4)
print(a[0:2])

(1, 2)

In [24]:
# 21. Find the maximum value in a tuple.
a = (1,2,3,4)
print(max(a))

4

In [25]:
# 22. Find the minimum value in a tuple.
a = (1,2,3,4)
print(min(a))

1

In [26]:
# 23. Convert a string to a tuple of characters.
a = 'rishabh'
b = tuple(a)
print(b)

('r', 'i', 's', 'h', 'a', 'b', 'h')

In [27]:
# 24. Convert a tuple of characters to a string.
a = ('r,i,s,h,a,b,h')
b = str(a)
print(b)

r,i,s,h,a,b,h

In [28]:
# 25. Create a tuple from multiple data types.
a = ('rishabh',12345,True,0.556)
print(a)

('rishabh', 12345, True, 0.556)

In [29]:
# 26. Check if two tuples are identical.
a = (1,2,3,4)
b = (3,6,8,9)
if  a==b:
    print('identical')
else:
    print('non identical')

non identical

In [30]:
# 27. Sort the elements of a tuple.
b = (3,6,10,8,9)
a = list(b)
a.sort()
print(a)

[3, 6, 8, 9, 10]

In [31]:
# 28. Convert a tuple of integers to a tuple of strings.
b = (3,6,10,8,9)
a = str(b)
print(a)

(3, 6, 10, 8, 9)

In [32]:
# 29. Convert a tuple of strings to a tuple of integers.
a = ("8349981509")
b= int(a)
print(b)

8349981509

In [ ]:
# 30. Merge two tuples.
a = ('rishabh')
b = ('jaiswal')
print(a + " " + b)

In [33]:
# 31. Flatten a nested tuple.
a = ((4, 7), ((4, 5), ((6, 7), (7, 6))))
def flatten_tuples(t): # making a function flatten tuple
    for x in t: # running a for loop for each element
        if isinstance(x, tuple): # if element is a tuple 
            yield from flatten_tuples(x) # returnig it to the function 
        else:
            yield x

print(tuple(flatten_tuples(a)))

(4, 7, 4, 5, 6, 7, 7, 6)

In [34]:
# 32. Create a tuple of the first 5 prime numbers.
prime_list = ()
for i in range(1, 51):
    for j in range(2, 51):
        if i % j == 0:
            break
    if  i == j:
        prime_list = prime_list + (i,)

print(prime_list[:5])

(2, 3, 5, 7, 11)

In [35]:
# 33. Check if a tuple is a palindrome.
a = ('rishabh')
if a[::] == a[-1::-1]: # checking if the orignal string is uqual to its reverse string
    print('palindrome')
else:
    print('not palindrome')

not palindrome

In [36]:
# 34. Create a tuple of squares of numbers from 1 to 5.
square = ()
for i in range(1,6):
    square = square + (i*i,)
print(square)

(1, 4, 9, 16, 25)

In [37]:
# 35. Filter out all even numbers from a tuple.
a = (1,2,3,4,5,6,7,8,9,10)
b = ()
for i in a:
    if i%2==0:
        b = b + (i,)

print(b)

(2, 4, 6, 8, 10)

In [38]:
# 36. Multiply all elements in a tuple by 2.
a = (1,2,3,4,5,6,7,8,9,10)
for i in a:
    i = i*2
    print(i)

2
4
6
8
10
12
14
16
18
20

In [39]:
# 37. Create a tuple of random numbers.
a = (-1,0.68,20000)
print(a)

(-1, 0.68, 20000)

In [40]:
# 38. Check if a tuple is sorted.
# create a tuple
t = (1, 4, 3, 5, 2)
# check if tuple is sorted
print(t == tuple(sorted(t)))

False

In [41]:
# 39. Rotate a tuple to the left by `n` positions.
t = (1, 4, 3, 5, 2)
a = t[3:] + t[:-2]
print(a)

(5, 2, 1, 4, 3)

In [42]:
# 40. Rotate a tuple to the right by `n` positions.
a = (5, 2, 1, 4, 3)
n = a[2:] + a[:-3]
print(n)

(1, 4, 3, 5, 2)

In [43]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
f = 0
sum = 1
a = ()
for x in range(0,6):
        next = f + sum
        a= a+ (next,)
        f = sum
        sum = next

print(a)

(1, 2, 3, 5, 8, 13)

In [46]:
# 42. Create a tuple from user input.
a = tuple(input("enter a tuple"))
print(a)

enter a tuple123456
('1', '2', '3', '4', '5', '6')

In [47]:
# 43. Swap two elements in a tuple.
# create a tuple
t = (1, 2, 3)
# convert the tuple to list
ls = list(t)
# swap the elements in the list using their index
ls[1], ls[2] = ls[2], ls[1]
# create a new tuple from the list elements
new_t = tuple(ls)
# print the new tuple
print(new_t)

(1, 3, 2)

In [48]:
# 44. Reverse the elements of a tuple.
t = (1, 2, 3)
a = t[::-1]
print(a)

(3, 2, 1)

In [49]:
# 45. Create a tuple of the first `n` powers of 2.
n = ()
for i in range(1,6):
    i = i *i
    n = n + (i,)
print(n)

(1, 4, 9, 16, 25)

In [50]:
# 46. Find the longest string in a tuple of strings.
a = ('rishabh jaiswal','pwskills data sceince pro','hello world')
max_len = 1
for ele in a:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele

print(res)

pwskills data sceince pro

In [51]:
# 47. Find the shortest string in a tuple of strings.
a = ('rishabh jaiswal','pwskills data sceince pro','hello world','rj')
min_len = 1
for ele in a:
    if len(ele) < min_len:
        min_len = len(ele)
print(ele)

rj

In [52]:
# # 48. Create a tuple of the first `n` triangular numbers.
j = 1
k = 1
a = ()
n = int(input("enter the number"))
for i in range(1, n + 1):
    a = a + (k,)
    j = j + 1  # Increasing j by 1

    # Add value of j into k and update k
    k = k + j
print(a)

enter the number5
(1, 3, 6, 10, 15)

In [53]:
# 49. Check if a tuple contains another tuple as a subsequence.
a = (1,2,3,4,5,6,7,8,9)
b = (15,12)
flag = 0
if (all(x in a for x in b)):
    flag = 1

# printing result
if (flag):
    print("Yes, list is subset of other.")
else:
    print("No, list is not subset of other.")

No, list is not subset of other.

In [54]:
# 50. Create a tuple of alternating 1s and 0s of length `n`
result = ()
length = 7

# iterating
for i in range(length):
   # checking the index
   if i % 2 == 0:
      # appending 1 on even index
      result = result + (1,)
   else:
      # appending 0 on odd index
      result = result + (0,)

# printing the result
print(result)

(1, 0, 1, 0, 1, 0, 1)

In [55]:
# set based questions

# 1. Create a set with integers from 1 to 5.
a = {1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [56]:
# 2. Add an element to a set.
a = {1,2,3,4,5}
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

In [57]:
# 3. Remove an element from a set.
a = {1,2,3,4,5}
a.remove(5)
print(a)

{1, 2, 3, 4}

In [58]:
# 4. Check if an element exists in a set.
a = {1,2,3,4,5}
print(a.__contains__(5))

True

In [59]:
# 5. Find the length of a set without using the `len()` function.
a = {1,2,3,4,5,6,7,8,9,10}
count = 0
for i in a:
    count += 1
print(count)

10

In [60]:
# 6. Clear all elements from a set.
a = {1,2,3,4,5,6,7,8,9,10}
a.clear()
print(a)

set()

In [61]:
# 7. Create a set of even numbers from 1 to 10.
a = {0}
for i in range(1,11):
    if i%2==0:
        a.add(i)

print(a)

{0, 2, 4, 6, 8, 10}

In [62]:
# 8. Create a set of odd numbers from 1 to 10.
a = set()
for i in range(1,11):
    if i%2!=0:
        a.add(i)

print(a)

{1, 3, 5, 7, 9}

In [63]:
# 9. Find the union of two sets.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8}

In [64]:
# 10. Find the intersection of two sets.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.intersection(b))

{4, 5}

In [65]:
# 11. Find the difference between two sets.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.difference(b))

{1, 2, 3}

In [66]:
# 12. Check if a set is a subset of another set.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.issubset(b))

False

In [67]:
# 13. Check if a set is a superset of another set.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.issuperset(b))

False

In [68]:
# 14. Create a set from a list.
a = [1,2,3,2,3,4,56,2]
b = set()
for i in a :
    b.add(i)
print(b)

{1, 2, 3, 4, 56}

In [69]:
# 15. Convert a set to a list.
a = [1,2,3,45,6,78,9,2]
b = set(a)
print(b)

{1, 2, 3, 6, 9, 45, 78}

In [70]:
# 16. Remove a random element from a set.
a = {1,2,3,45,6,78,9,2}
a.remove(78)
print(a)

{1, 2, 3, 6, 9, 45}

In [71]:
# 17. Pop an element from a set.
a = {1,2,3,45,6,78,9,2}
a.pop()
print(a)

{2, 3, 6, 9, 45, 78}

In [72]:
# 18. Check if two sets have no elements in common.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
if a.intersection(b): # checking if a and b have elements in common using intersection
    print(True)
else:
    print(False)

True

In [73]:
# 19. Find the symmetric difference between two sets.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.symmetric_difference(b))

{1, 2, 3, 6, 7, 8}

In [74]:
# 20. Update a set with elements from another set.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
a.update(b)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [75]:
# 21. Create a set of the first 5 prime numbers.
a = set()
for i in range(1,12):
    for j in range(2,12):
        if i%j==0:
            break
    if i == j :
        a.add(i)
print(a)

{2, 3, 5, 7, 11}

In [76]:
# 22. Check if two sets are identical.
a = {1,2,3}
b = {1,2,3}
if a == b:
    print(True)
else:
    print(False)

True

In [77]:
# 23. Create a frozen set.
a = {1,2,3,4}
b = frozenset(a)
print(b)

frozenset({1, 2, 3, 4})

In [78]:
# 24. Check if a set is disjoint with another set.
a = {1,2,3,4,5}
b = {4,5,6,7,8}
print(a.isdisjoint(b))

False

In [79]:
# # 25. Create a set of squares of numbers from 1 to 5.
a = set()
for i in range(1,6):
    i = i*i
    a.add(i)

print(a)

{1, 4, 9, 16, 25}

In [80]:
# 26. Filter out all even numbers from a set.
a = {1,2,3,4,5,6,7,.9,20}
for i in a:
    if i%2==0:
        print(i)

2
4
6
20

In [81]:
# 27. Multiply all elements in a set by 2.
a = {1,2,3,4}
for i in a:
    i = i*2
    print(i)

2
4
6
8

In [82]:
# 28. Create a set of random numbers.
a = {1,2,3,4,500,.95,-50,}
print(a)

{0.95, 1, 2, 3, 4, 500, -50}

In [83]:
# 29. Check if a set is empty.
a = {1}
if len(a)<=0:
    print('Emtyset')
else:
    print('not empty')

not empty

In [85]:
# 30. Create a nested set (hint: use frozenset).
s = set([frozenset([1,2]), frozenset([3,4])])
print(s)

{frozenset({3, 4}), frozenset({1, 2})}

In [86]:
# 31. Remove an element from a set using the discard method.
a = {1,2,3}
a.discard(3)
print(a)

{1, 2}

In [87]:
# 32. Compare two sets.
a = {1,2,3,4}
b = {1,2,3}
if len(a)==len(b):
    print('equal')
else:
    print('not equal')

not equal

In [91]:
# 33. Create a set from a string.
a = "123456"
b = set()
for i in a:
    b.add(i)
b

{'1', '2', '3', '4', '5', '6'}

In [92]:
# 34. Convert a set of strings to a set of integers.
a = {'123'}
b = set()
for i in a:
    i = int(i)
    b.add(i)
print(b)

{123}

In [93]:
# 35. Convert a set of integers to a set of strings.
a = {123}
b = set()
for i in a:
    i = str(i)
    b.add(i)
print(b)

{'123'}

In [94]:
# 36. Create a set from a tuple.
a = ('rishabh')
b = set()
for i in a:
    b.add(i)
print(b)

{'s', 'b', 'a', 'r', 'i', 'h'}

In [95]:
# 37. Convert a set to a tuple.
a = {1,2,3}
b = tuple(a)
print(b)

(1, 2, 3)

In [96]:
# 38. Find the maximum value in a set.
a = {1,2,3}
print(max(a))

3

In [97]:
# 39. Find the minimum value in a set.
a = {1,2,3}
print(min(a))

1

In [98]:
# 40. Create a set from user input.
a = set(input("enter "))
print(a)

enter 123456789
{'9', '2', '8', '7', '5', '1', '4', '3', '6'}

In [99]:
# 41. Check if the intersection of two sets is empty.
a = {1,2,3,4}
b = {5,7,8}
c = a.intersection(b)
print(len(c))

0

In [100]:
# 42. Create a set of the first 5 Fibonacci numbers.
f = 0
sum = 1
a = set()
for x in range(1,6):
        next = f + sum
        a.add(next)
        f = sum
        sum = next

print(a)

{1, 2, 3, 5, 8}

In [101]:
# 43. Remove duplicates from a list using sets.
a = [1,1,1,2,2,3,3,3,4,4,4,5,6,6,6,5,5,7,7,8,9,9,8,8]
b = set(a)
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [102]:
# 44. Check if two sets have the same elements, regardless of their count.
a = {5,6,2,3,8,91,5}
b = {2,2,5,5,8,91,6,3}
print(sorted(a) == sorted(b))

True

In [103]:
# 45. Create a set of the first `n` powers of 2.
a = set()
n = int(input("enter number"))
for i in range(n):
    i = i*i
    a.add(i)

print(a)

enter number5
{0, 1, 4, 9, 16}

In [104]:
# 46. Find the common elements between a set and a list.
a = {1,2,3,4,5}
b = [3,5,6,7]
print(a.intersection(b))

{3, 5}

In [105]:
# 47. Create a set of the first `n` triangular numbers.
j = 1
k = 1
a = set()
n = int(input("enter the number"))
for i in range(1, n + 1):
    a.add(k)
    j = j + 1  # Increasing j by 1

    # Add value of j into k and update k
    k = k + j
print(a)

enter the number6
{1, 3, 6, 10, 15, 21}

In [106]:
# 48. Check if a set contains another set as a subset.
a = {1,2,3,4,5,6,89,9}
b = {1,2,3}
print(b.issubset(a))

True

In [107]:
# 49. `Create a set of alternating 1s and 0s of length `n.
result = ()
length = 7

# # iterating
for i in range(length):
    # checking the index
   if i % 2 == 0:
      # appending 1 on even index
      result = result + (1,)
   else:
       # appending 0 on odd index
      result = result + (0,)

# # printing the result
print(set(result))

{0, 1}

In [108]:
# 50. Merge multiple sets into one.
a = {1,2,3,4}
b = {4,5,6,7}
c = {8,9,10,11}
print(a.union(b,c))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}